body {
    background: rgb(48, 115, 204);
    font: normal 15pt arial;
    
   
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.596);
    
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}